<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>

    <add name="access_con" connectionString="Provider=Microsoft.Jet.Oledb.4.0;data source="/>
    <add name="access_path" connectionString="~/App_Data/Database.mdb"/>
    <add name="back_path" connectionString="~/App_Data/backinfo.mdb"/>
  </connectionStrings>
</configuration>